POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

NODE_ENV=
API_PORT=
API_URL=

NEXT_PUBLIC_SOCKET_PORT=
NEXT_PUBLIC_SOCKET_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DB_INSPECT_API_URL=

JWT_SECRET=
INTERNAL_SECRET=
RECONNECT_GRACE_MS=