POSTGRES_DB=************
POSTGRES_USER=************
POSTGRES_PASSWORD=************

NODE_ENV=************
SOCKET_PORT=************
NEXT_PUBLIC_SOCKET_URL=*************
NEXT_PUBLIC_API_URL=************
JWT_SECRET=************