# Dependencies
**/node_modules/

# Lockfiles (using pnpm in this repo)

# Build output / caches
**/.next/
**/dist/
**/build/
**/coverage/
**/*.tsbuildinfo

# Environment files
.env

#setting
.vscode/setting.json

# OS / editor
.DS_Store
Thumbs.db

