@import 'tailwindcss';

:root {
    --background: #eed4b3;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-mono);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #d2b698;
        --foreground: #403838;
    }
}

body {
    background-image: url('/webappbackground.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--foreground);
    font-family: monospace;
}
